<h1>Listing traceroutes</h1>

<table border="1" width=100%>
  <thead>
    <tr>
      <th>server</th>
      <th>Local ip</th>
      <th>Traceroute Output</th>
      <th>Timestamp</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @traceroutes.each do |traceroute| %>
      <tr>
        <td align="center"><%= traceroute.server %></td>
        <td align="center"><%= traceroute.local_ip %></td>
        <td align="left"><%= simple_format(traceroute.stdout) %></td>
        <td align="center"><%= traceroute.timestamp %></td>
        <<td><%= link_to 'Destroy', traceroute, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
